*.swp

zsh/aliases.d/*
!zsh/aliases.d/README.md
!zsh/aliases.d/_*.zal

zsh/completion.d/*
!zsh/completion.d/README.md

zsh/env.d/*
!zsh/env.d/README.md
!zsh/env.d/_*.zenv

zsh/functions.d/*
!zsh/functions.d/README.md
!zsh/functions.d/_*.zfn

zsh/plugins.d/*
!zsh/plugins.d/README.md
